
<ion-view ng-controller="buyer1Ctrl">
    <ion-content class="padding">
        <div class="date123">
            <span>  4th Oct,2016</span>
        </div>
        <ol class=" item-text-wrap">


            <ul>
                <li>

                    <div class="bubble1 msg">
                        <span class="msg123">Aditya has Shown Interest!</span> <br>
                        <!--<span class="personSay">the name of my village is Rathanpur</span>-->
                        <time>19:31</time>
                    </div>

                </li>
            </ul>
            </div>
            <div class="container">
                <div class="row">
                    <div class="panel panel-default widget">
                        <div class="bubble msg">
                            <span class="personName">
                                Joseph-
                            </span> <br />
                            <span class="personSay msg123">      Today: 15kg, Tomorrow:21kg and Week:53kg </span>
                            <time>19:31</time>
                        </div>
                        <div class="date123">
                            <span>  5th Oct,2016</span>
                        </div>
                        <div class="bubble msg">
                            <span class="personName">
                                Amit-
                            </span> <br />
                            <span class="personSay msg123">      Today: 15kg, Tomorrow:21kg and Week:53kg </span>
                            <time>21:17</time>
                        </div>

                        <div class="bubble2 msg">
                            <div class="msg123">  You want Order to today,please confirm the following details?</div>
                            <i class="ion-android-done-all" style="height:10; width:10"></i>
                            <time>23:17</time>

                        </div>

                    </div>
                </div>
            </div>









        </ol>






    </ion-content>
</ion-view>
