
<ion-view ng-controller="Detail1Ctrl">
  
    <ion-content class="padding">

        <!--<button class="button button-outline button-positive" ng-click="moveMessage()">
            Next
        </button>-->
     
        <ol class="marleft">

            <li class="other">
                <div class="bubble msg" style="width:90%">
                    <span class="msg1234"> Aditya:</span> <br>
                    <div class="msg123">
                        I'll give you Tomato 100 Kg, and Offgrade 250 Kg Today,
                        and potato 250 Kg, and Offgrade 345 Kg by today only.Pickup as per request!
                    </div> </span>
                    <time>2nd Oct-19:31</time>
                </div>
                <!--<div class="msg">
                    <h6>Aditya:</h6>
                    I'll give you Tomato 100 Kg, and Offgrade 250 Kg Today,
                    and potato 250 Kg, and Offgrade 345 Kg by today only.Pickup as per request!

                    <p></p>
                    <h5> <time>2nd Oct-20:17</time></h5>
                </div>-->
            </li>
        </ol>
        <br />
       
        <div class="item-text-wrap">
            <center>   <p class="w-220x" style="color: rgba(255, 165, 0, 0.71)">Today's collection</p></center>  
        </div>




        <div class="item item-avatar padder-v-sm m-b-xxs">
            <img src="img/Tomato.png" height="50px" width="50px"> &nbsp;<div class="item-borderless">Tomato</div>
            <div class="row padder-none m-b-xxs">
                <div class="w-65 padder-v-sm">
                    <p class="w-100">Grade A:</p>
                </div>
                <div class="w-35 m-l-sm">
                    <label>
                        <input type="number" placeholder="Qty" class="border-lighter w-90 pull-right padder-h-xs m-b-xs">
                    </label>
                </div>

            </div>

            <div class="row padder-none">
                <div class="w-65 padder-v-sm">
                    <p class="w-100">Off Grade:</p>
                </div>
                <div class="w-35 m-l-sm">
                    <label>
                        <input type="number" placeholder="Qty" class="border-lighter w-90 pull-right padder-h-xs">
                    </label>
                </div>
            </div>

        </div>
        <div class="item item-avatar padder-v-sm m-b-xxs">
            <img src="img/Potato.png" height="50px" width="50px"> &nbsp;<div class="item-borderless">Potato</div>
            <div class="row padder-none m-b-xxs">
                <div class="w-65 padder-v-sm">
                    <p class="w-100">Grade A:</p>
                </div>
                <div class="w-35 m-l-sm">
                    <label>
                        <input type="number" placeholder="Qty" class="border-lighter w-90 pull-right padder-h-xs m-b-xs">
                    </label>
                </div>

            </div>

            <div class="row padder-none">
                <div class="w-65 padder-v-sm">
                    <p class="w-100">Off Grade:</p>
                </div>
                <div class="w-35 m-l-sm">
                    <label>
                        <input type="number" placeholder="Qty" class="border-lighter w-90 pull-right padder-h-xs">
                    </label>
                </div>
            </div>

        </div>



    </ion-content>
  
    <!--<div class="fixed-outside">
      
            <div class="w-100">
                <a class="button button-balanced text-white m-t-none m-b-none w-100" data-ng-click="moveMessage()">Next</a>

            </div>
           
      
    </div>-->

    <!--<div class="fixed-outside">
        <div class="row">
            <div class="w-48">
                <a class="button button-balanced text-white m-t-none m-b-none w-100" data-ng-click="clickcashOnDelivery(pInfoForm,addressForm)">prevoius</a>

            </div>
            <div class="w-48">

                <a class="button button-balanced text-white m-t-none m-b-none w-100" data-ng-click="clickCreditMode(pInfoForm,addressForm)">Next</a>
            </div>
        </div>
    </div>-->

</ion-view>
