<ion-view ng-controller="intresrtedCtrl">
    <ion-content>
        <ion-list>
       
            <!--<ion-item>
                <ion-thumbnail item-left>
                    <img src="img/tomato.png">
                </ion-thumbnail>
                <ion-thumbnail item-right>
                    <img src="img/tomato.png">
                </ion-thumbnail>
                </ion-item>-->
                <!--<img src="img/tomato.png" height="50px" width="50px"> <div class="item-borderless">Potato A Grade</div>-->
          
            <div class="row">
                <div class="col">
                    <img src="img/Tomato.png" width="50px" height="50px" style="display:block;margin-left:auto;margin-right:auto"><center>Tomato A Grade</center></div>
                <div class="col">
                    <img src="img/Cauliflower.png" width="50px" height="50px" style="display:block;margin-left:auto;margin-right:auto"><center>Cauliflower</center>
                </div>
                <div class="col">
                    <img src="img/Carrot.png" width="50px" height="50px" style="display:block;margin-left:auto;margin-right:auto"><center>Carrot Off Grade</center>
                </div>

            </div>
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
               <!--<br />  <div class="button-bar imgalign item-text-wrap">
                         &nbsp;   &nbsp; <img src="img/Tomato.png" height="50px" width="50px">  
                     <div class="item-borderless">Tomato A Grade</div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <img src="img/Potato.png" height="40px" width="50px"> 
                   <div class="item-borderless">Potato Off Grade</div>&nbsp;&nbsp;&nbsp;&nbsp;
                   <img src="img/Carrot.png" height="40px" width="50px">
                   <div class="item-borderless">Carrot A Grade</div>
</div>
            <br />-->

            <ion-radio ng-model="choice" ng-value="'A'">Aditya</ion-radio>
            <ion-radio ng-model="choice" ng-value="'B'">Aman</ion-radio>
            <ion-radio ng-model="choice" ng-value="'C'">Shashi</ion-radio>
            <ion-radio ng-model="choice" ng-value="'D'">Ravi</ion-radio>
            <ion-radio ng-model="choice" ng-value="'E'">Amit</ion-radio>
            <ion-radio ng-model="choice" ng-value="'F'">Rohan</ion-radio>
            <ion-radio ng-model="choice" ng-value="'G'">Kapil</ion-radio>
            <ion-radio ng-model="choice" ng-value="'H'">Raunak</ion-radio>
            <ion-radio ng-model="choice" ng-value="'I'">Kiran</ion-radio>
            <ion-radio ng-model="choice" ng-value="'J'">Tpaesh</ion-radio>





                <!--<ion-list>

                    <ion-checkbox ng-model="filter.red">Aditya</ion-checkbox>
                    <ion-checkbox ng-model="filter.yellow">Aman</ion-checkbox>
                    <ion-checkbox ng-model="filter.pink">Shashi</ion-checkbox>
                    <ion-checkbox ng-model="filter.black">Ravi</ion-checkbox>
                    <ion-checkbox ng-model="filter.green">Amit</ion-checkbox>

                </ion-list>-->

                <!--<br />

                <p align="right">
                    <a class="button button-positive" ng-click="goHome()">Send</a>&nbsp;

                </p>-->



</ion-list>
    </ion-content>
</ion-view>
