
<ion-view view-title="" ng-controller="sellerPageCtrl">
    <ion-content>
   
            <ion-radio ng-model="choice" ng-value="'A'">Aditya</ion-radio>
            <ion-radio ng-model="choice" ng-value="'B'">Aman</ion-radio>
            <ion-radio ng-model="choice" ng-value="'C'">Shashi</ion-radio>


           
            <!--<p align="right">
                <a class="button button-positive" ng-click="goHome()">Send</a>

            </p>-->

      

        <div class="item item-avatar padder-v-sm  m-b-xxs seller1">
            <img src="img/Potato.png" height="50px" width="50px"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div class="item-borderless">Potato A Grade</div>
            <div class="row padder-none m-b-xxs">
                <div class="w-65 padder-v-sm">
                    <p class="w-100">Today:</p>
                </div>
                <div class="w-35 m-l-sm">
                    <label>
                        <input type="number" placeholder="Qty" class="border-lighter w-90 pull-right padder-h-xs m-b-xs">
                    </label>
                </div>
            </div>
            <div class="row padder-none m-b-xxs">
                <div class="w-65 padder-v-sm">
                    <p class="w-100">Tomorrow:</p>
                </div>
                <div class="w-35 m-l-sm">
                    <label>
                        <input type="number" placeholder="Qty" class="border-lighter w-90 pull-right padder-h-xs m-b-xs">
                    </label>
                </div>
            </div>
            <div class="row padder-none">
                <div class="">
                    <p class="w-100">Accuracy:</p>
                </div>
                <!--<div class="input-label w-35 m-l-sm">
                <label>
                    <select>
                        <option>Medium</option>
                        <option selected>High</option>
                        <option>Low</option>
                    </select>
                </label>
            </div>-->
                <div class="maxl">
                    <label class="radio inline">
                        <input type="radio" name="sex" value="male" checked>
                        <span>Very High </span>
                    </label>
                    <label class="radio inline">
                        <input type="radio" name="sex" value="female">
                        <span>High </span>
                    </label>
                    <div class="max2">
                        <label class="radio inline">
                            <input type="radio" name="sex" value="male" checked>
                            <span> Medium </span>
                        </label> &nbsp;
                        <label class="radio inline">
                            <input type="radio" name="sex" value="male" checked>
                            <span> Low </span>
                        </label>
                    </div>
                </div>



            </div>
            <div class="row padder-none">
                <div class="w-65 padder-v-sm">
                    <p class="w-100">Week:</p>
                </div>
                <div class="w-35 m-l-sm">
                    <label>
                        <input type="number" placeholder="Qty" class="border-lighter w-90 pull-right padder-h-xs">
                    </label>
                </div>
            </div>
            <div class="row padder-none">
                <div class="">
                    <p class="w-100">Accuracy:</p>
                </div>
                <!--<div class="input-label w-35 m-l-sm">
                <label>
                    <select>
                        <option>Medium</option>
                        <option selected>High</option>
                        <option>Low</option>
                    </select>
                </label>
            </div>-->
                <!--<div class="container" style="padding: 6px 1px; margin-left: 115px">

                The ALLIGN BULLET

                <ul>
                    <li>
                        <input type="radio" id="f-option" name="selector">
                        <label for="f-option">High</label>

                        <div class="check"></div>

                    </li>

                    <li>
                        <input type="radio" id="s-option" name="selector">
                        <label for="s-option">Medium</label>

                        <div class="check"><div class="inside"></div></div>
                    </li>

                    <li>
                        <input type="radio" id="t-option" name="selector">
                        <label for="t-option">Low</label>

                        <div class="check"><div class="inside"></div></div>
                    </li>
                </ul>
            </div>-->
                <div class="maxl">
                    <label class="radio inline">
                        <input type="radio" name="sex" value="male" checked>
                        <span>Very High </span>
                    </label>
                    <label class="radio inline">
                        <input type="radio" name="sex" value="female">
                        <span>High </span>
                    </label>
                    <div class="max2">
                        <label class="radio inline">
                            <input type="radio" name="sex" value="male" checked>
                            <span> Medium </span>
                        </label> &nbsp;
                        <label class="radio inline">
                            <input type="radio" name="sex" value="male" checked>
                            <span> Low </span>
                        </label>
                    </div>
                </div>
            </div>

        </div>



        <div class="item item-avatar padder-v-sm m-b-xxs seller1">
            <img src="img/Potato.png" height="50px" width="50px"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div class="item-borderless">
                Potato OFF Grade
            </div>
            <div class="row padder-none m-b-xxs">
                <div class="w-65 padder-v-sm">
                    <p class="w-100">Today:</p>
                </div>
                <div class="w-35 m-l-sm">
                    <label>
                        <input type="number" placeholder="Qty" class="border-lighter w-90 pull-right padder-h-xs m-b-xs">
                    </label>
                </div>
            </div>
            <div class="row padder-none m-b-xxs">
                <div class="w-65 padder-v-sm">
                    <p class="w-100">Tomorrow:</p>
                </div>
                <div class="w-35 m-l-sm">
                    <label>
                        <input type="number" placeholder="Qty" class="border-lighter w-90 pull-right padder-h-xs m-b-xs">
                    </label>
                </div>
            </div>
            <div class="row padder-none">
                <div class="">
                    <p class="w-100">Accuracy:</p>
                </div>
                <!--<div class="input-label w-35 m-l-sm">
                    <label>
                        <select>
                            <option>Medium</option>
                            <option selected>High</option>
                            <option>Low</option>
                        </select>
                    </label>
                </div>-->
                <div class="maxl">
                    <label class="radio inline">
                        <input type="radio" name="sex" value="male" checked>
                        <span>Very High </span>
                    </label>
                    <label class="radio inline">
                        <input type="radio" name="sex" value="female">
                        <span>High </span>
                    </label>
                    <div class="max2">
                        <label class="radio inline">
                            <input type="radio" name="sex" value="male" checked>
                            <span> Medium </span>
                        </label> &nbsp;
                        <label class="radio inline">
                            <input type="radio" name="sex" value="male" checked>
                            <span> Low </span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="row padder-none">
                <div class="w-65 padder-v-sm">
                    <p class="w-100">Week:</p>
                </div>
                <div class="w-35 m-l-sm">
                    <label>
                        <input type="number" placeholder="Qty" class="border-lighter w-90 pull-right padder-h-xs">
                    </label>
                </div>
            </div>
            <div class="row padder-none">
                <div class="">
                    <p class="w-100">Accuracy:</p>
                </div>
                <!--<div class="input-label w-35 m-l-sm">
                    <label>
                        <select>
                            <option>Medium</option>
                            <option selected>High</option>
                            <option>Low</option>
                        </select>
                    </label>
                </div>-->
                <div class="maxl">
                    <label class="radio inline">
                        <input type="radio" name="sex" value="male" checked>
                        <span>Very High </span>
                    </label>
                    <label class="radio inline">
                        <input type="radio" name="sex" value="female">
                        <span>High </span>
                    </label>
                    <div class="max2">
                        <label class="radio inline">
                            <input type="radio" name="sex" value="male" checked>
                            <span> Medium </span>
                        </label> &nbsp;
                        <label class="radio inline">
                            <input type="radio" name="sex" value="male" checked>
                            <span> Low </span>
                        </label>
                    </div>
                </div>
            </div>

        </div>

        <div class="item item-avatar padder-v-sm m-b-xxs seller1">
            <img src="img/Tomato.png" height="50px" width="50px"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div class="item-borderless">
                Tomato A Grade
            </div>
            <div class="row padder-none m-b-xxs">
                <div class="w-65 padder-v-sm">
                    <p class="w-100">Today:</p>
                </div>
                <div class="w-35 m-l-sm">
                    <label>
                        <input type="number" placeholder="Qty" class="border-lighter w-90 pull-right padder-h-xs m-b-xs">
                    </label>
                </div>
            </div>
            <div class="row padder-none m-b-xxs">
                <div class="w-65 padder-v-sm">
                    <p class="w-100">Tomorrow:</p>
                </div>
                <div class="w-35 m-l-sm">
                    <label>
                        <input type="number" placeholder="Qty" class="border-lighter w-90 pull-right padder-h-xs m-b-xs">
                    </label>
                </div>
            </div>
            <div class="row padder-none">
                <div class="">
                    <p class="w-100">Accuracy:</p>
                </div>
                <!--<div class="input-label w-35 m-l-sm">
                    <label>
                        <select>
                            <option>Medium</option>
                            <option selected>High</option>
                            <option>Low</option>
                        </select>
                    </label>
                </div>-->
                <div class="maxl">
                    <label class="radio inline">
                        <input type="radio" name="sex" value="male" checked>
                        <span>Very High </span>
                    </label>
                    <label class="radio inline">
                        <input type="radio" name="sex" value="female">
                        <span>High </span>
                    </label>
                    <div class="max2">
                        <label class="radio inline">
                            <input type="radio" name="sex" value="male" checked>
                            <span> Medium </span>
                        </label> &nbsp;
                        <label class="radio inline">
                            <input type="radio" name="sex" value="male" checked>
                            <span> Low </span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="row padder-none">
                <div class="w-65 padder-v-sm">
                    <p class="w-100">Week:</p>
                </div>
                <div class="w-35 m-l-sm">
                    <label>
                        <input type="number" placeholder="Qty" class="border-lighter w-90 pull-right padder-h-xs">
                    </label>
                </div>
            </div>
            <div class="row padder-none">
                <div class="">
                    <p class="w-100">Accuracy:</p>
                </div>
                <!--<div class="input-label w-35 m-l-sm">
                    <label>
                        <select>
                            <option>Medium</option>
                            <option selected>High</option>
                            <option>Low</option>
                        </select>
                    </label>
                </div>-->
                <div class="maxl">
                    <label class="radio inline">
                        <input type="radio" name="sex" value="male" checked>
                        <span>Very High </span>
                    </label>
                    <label class="radio inline">
                        <input type="radio" name="sex" value="female">
                        <span>High </span>
                    </label>
                    <div class="max2">
                        <label class="radio inline">
                            <input type="radio" name="sex" value="male" checked>
                            <span> Medium </span>
                        </label> &nbsp;
                        <label class="radio inline">
                            <input type="radio" name="sex" value="male" checked>
                            <span> Low </span>
                        </label>
                    </div>
                </div>
            </div>

        </div>

        <!--    <div class="item item-body">
                    <br />
        &nbsp;&nbsp;&nbsp;&nbsp;    <input type="radio" name="day" value="Friday" checked> Aditya &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" name="day" value="Saturday"> Aman  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" name="day" value="Sunday"> Shashi  &nbsp;&nbsp;
                    <br /><br />
                    </div> -->
    









        <!--<p align="right">
            <a class="button button-energized" ng-click="goHome()">Send</a>

        </p>-->




    </ion-content>
</ion-view>
