<ion-view ng-controller="reportstabCtrl" view-title="">
    <ion-content>
        <div class="list card">
            <div class="item item-avatar padding-left-sm" style=" min-height: 0px !important;">
                <h2 class="white-space-normal">Acres Per Vegetable</h2>
            </div>
            <div class="item item-image">
                <img src="img/AcresPerVeg.png" />
            </div>
        </div>
        <div class="list card">
            <div class="item item-avatar padding-left-sm" style=" min-height: 0px !important;">
                <h2 class="white-space-normal">Capacity per week</h2>
            </div>
            <div class="item item-image">
                <img src="img/CapPerWeek.png" />
            </div>
        </div>
        <div class="list card">
            <div class="item item-avatar padding-left-sm" style=" min-height: 0px !important;">
                <h2 class="white-space-normal">Supply forecast for week</h2>
            </div>
            <div class="item item-image">
                <img src="img/SuppForcecWeek.png" />
            </div>
        </div>
        <div class="list card">
            <div class="item item-avatar padding-left-sm" style=" min-height: 0px !important;">
                <h2 class="white-space-normal">Sales/supply gap</h2>
            </div>
            <div class="item item-image">
                <img src="img/SalesSupppGap.png" />
            </div>
        </div>
        <div class="list card">
            <div class="item item-avatar padding-left-sm" style=" min-height: 0px !important;">
                <h2 class="white-space-normal">Top growers for each vegetable</h2>
            </div>
            <div class="item item-image">
                <img src="img/TopGroweVeg.png" />
            </div>
        </div>
        <div class="list card">
            <div class="item item-avatar padding-left-sm" style=" min-height: 0px !important;">
                <h2 class="white-space-normal">Top growers per acre</h2>
            </div>
            <div class="item item-image">
                <img src="img/TopGroweAcre.png" />
            </div>
        </div>
        <div class="list card">
            <div class="item item-avatar padding-left-sm" style=" min-height: 0px !important;">
                <h2 class="white-space-normal">Sales forecast for week</h2>
            </div>
            <div class="item item-image">
                <img src="img/SalesForecWeek.png" />
            </div>
        </div>
        <div class="list card">
            <div class="item item-avatar padding-left-sm" style=" min-height: 0px !important;">
                <h2 class="white-space-normal">Daily average sale price</h2>
            </div>
            <div class="item item-image">
                <img src="img/DailAveSalePri.png" />
            </div>
        </div>
        <div class="list card">
            <div class="item item-avatar padding-left-sm" style=" min-height: 0px !important;">
                <h2 class="white-space-normal">Comparison of daily average sale price with traditional market or other source</h2>
            </div>
            <div class="item item-image">
                <img src="img/CompAvSaleTrad.png" />
            </div>
        </div>
        <div class="list card">
            <div class="item item-avatar padding-left-sm" style=" min-height: 0px !important;">
                <h2 class="white-space-normal">Top revenue generating vegetables</h2>
            </div>
            <div class="item item-image">
                <img src="img/TopRevnGenVeg.png" />
            </div>
        </div>
        <div class="list card">
            <div class="item item-avatar padding-left-sm" style=" min-height: 0px !important;">
                <h2 class="white-space-normal">Top revenue generating vegetables per acre</h2>
            </div>
            <div class="item item-image">
                <img src="img/TopRevGenVegAcre.png" />
            </div>
        </div>
        <div class="list card">
            <div class="item item-avatar padding-left-sm" style=" min-height: 0px !important;">
                <h2 class="white-space-normal">Top farmers whose produce (in kg) was rejected</h2>
            </div>
            <div class="item item-image">
                <img src="img/TopFar.png" />
            </div>
        </div>
    </ion-content>
</ion-view>
