<ion-view ng-controller="myBuyerstabCtrl">
    <ion-content>

        <div class="item-text-wrap marleft1">
            <ion-list>
                <ion-item class="item-remove-animate item-avatar item-icon-right " type="item-text-wrap" ng-click="movetoBuyer()">
                    <h2>Rajiv</h2>
                    <h4>Interested in: Potato A Grade, Tomato Off Grade,Tomato A Grade</h4>
                    <i class="icon ion-chevron-right icon-accessory"></i>
                    <p>
                        Today: 100 Pound ,
                        Tomorrow: 680 Pound,
                        Week: 1000 Pound
                    </p>
                </ion-item>
                <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" ng-click="movetoBuyer()">
                    <h2>Shashi</h2>
                    <h4>Interested in: Tomato A Grade</h4>
                    <i class="icon ion-chevron-right icon-accessory"></i>
                    <p>
                        Today: 700 Pound ,
                        Tomorrow: 880 Pound,
                        Week: 9000 Pound
                    </p>
                </ion-item>
                </ion-item>
                <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" ng-click="movetoBuyer()">
                    <h2>Amit</h2>
                    <h4>Interested in: Garlic A Grade</h4>
                    <i class="icon ion-chevron-right icon-accessory"></i>
                    <p>
                        Today: 600 Pound ,
                        Tomorrow: 580 Pound,
                        Week: 4000 Pound
                    </p>
                </ion-item>
                </ion-item>
                <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" ng-click="movetoBuyer()">
                    <h2>Vicky</h2>
                    <h4>Interested in: Tomato A Grade</h4>
                    <i class="icon ion-chevron-right icon-accessory"></i>
                    <p>
                        Today: 100 Pound ,
                        Tomorrow: 280 Pound,
                        Week: 3000 Pound
                    </p>
                </ion-item>

                </ion-item>
                <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" ng-click="movetoBuyer()">
                    <h2>Neha</h2>
                    <h4>Interested in: Tomato Off Grade,Tomato A Grade</h4>
                    <i class="icon ion-chevron-right icon-accessory"></i>
                    <p>
                        Today: 800 Pound ,
                        Tomorrow: 580 Pound,
                        Week: 2000 Pound
                    </p>
                </ion-item>
                </ion-item>
                <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" ng-click="movetoBuyer()">

                    <h2>Sonal</h2>
                    <h4>Interested in: Onion A Grade, Garlic Off Grade,Tomato A Grade</h4>
                    <i class="icon ion-chevron-right icon-accessory"></i>
                    <p>
                        Today: 700 Pound ,
                        Tomorrow: 480 Pound,
                        Week: 1000 Pound
                    </p>
                </ion-item>
            </ion-list>
        </div>
    </ion-content>
</ion-view>

<style>
    /*.list {
        margin-top: 43px;
    }*/

        .list .item.item-accordion {
            line-height: 38px;
            padding-top: 0;
            padding-bottom: 0;
            transition: 0.09s all linear;
        }

            .list .item.item-accordion.ng-hide {
                line-height: 0px;
            }

            .list .item.item-accordion.ng-hide-add,
            .list .item.item-accordion.ng-hide-remove {
                display: block !important;
            }
</style>